<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaft.org"
     xmlns:sec="http://www.thymeleaft.org/thymeleaf-extras-springsecurity6">
    <head th:replace="~{layouts/plantilla :: head}">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layouts/plantilla :: header}">
            
        </header>
        
        
        <section th:replace="~{categoria/fragmento :: editarCategoria}"/>
        
        <footer th:replace="~{layouts/plantilla :: footer}">
            
        </footer>
    </body>
</html>
